body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff6347;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.products {
    padding: 20px;
    text-align: center;
}

.products h2 {
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact-info {
    font-size: 16px; /* Ukuran font untuk nomor telepon */
    color: #333; /* Warna teks */
    margin-top: 10px; /* Jarak atas */
}

.contact-info span {
    margin-left: 15px; /* Jarak ke kiri dari elemen lainnya */
}